@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    user-select: none;
}

body {
    background-color: rgb(29, 29, 29);
    background-position: 0 0px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 0rem;
    margin-top: 0;
    text-align: center;
    position: relative;
}

h1 {
    color:rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 8px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
h2 {
    color:gray;
    font-size: 4rem;
    font-weight: 200;
}

.img {
    margin-top: 6rem;
    margin-bottom: 6rem;
    z-index: 2;
}


.introtxt {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    line-height: auto;
}

.btn:hover {
    background: white;
}

.github {
    display: inline-block;
    padding: 8rem 5rem;
    font-size: 2rem;
    text-decoration: none;
    color:black;
    transition: background 0.5s;
}

.discord {
    display: inline-block;
    padding: 5rem 5rem;
    font-size: 2rem;
    text-decoration: none;
    color:black;
    transition: background 0.5s;
    border-radius: 30%;

}


#main-section {
    overflow: hidden;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: cover;
    position: relative;
    top: 0;
}

.kahoot-img {
    display:inline;
    margin-left: 10rem;
}

.kahoot-txt {
    display: inline;
    vertical-align: middle;
    margin-left: 3rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    line-height: auto;
}

.kahoot {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.something {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.farming {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}
